<!-- con *ngIf dico che se il post esiste allora crea la struttura! mi elimina l'errore in console -->
<div class="container" *ngIf="posts[indexRandom]">
  <div class="row justify-content-center">
    <div class="col col-6">
      <app-single-post [post]="posts[indexRandom]"> </app-single-post>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h3 class="text-center mt-5">Potrebbero piacerti questi post</h3>
    <div class="col col-3" *ngFor="let post of shuffledPosts.slice(0, 4)">
      <app-single-post [post]="post"> </app-single-post>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h3 class="text-center mt-5">Single Post</h3>
    <div class="col col-3" *ngFor="let post of posts">
      <app-single-post [post]="post">
        <form class="mt-3">
          <div class="mb-3">
            <label for="postTitle" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="postTitle"
              name="title"
              [(ngModel)]="post.title"
            />
          </div>
          <div class="mb-3">
            <label for="postBody" class="form-label">Post Body</label>
            <input
              type="text-area"
              class="form-control"
              id="postBody"
              name="body"
              [(ngModel)]="post.body"
            />
          </div>
          <a
            class="btn btn-outline-primary d-block w-50"
            (click)="formDisactivation()"
            >Chiudi Form
          </a>
        </form>
      </app-single-post>
    </div>
  </div>
</div>
